<a href="https://colab.research.google.com/github/Chelagat-Pauline-G/MORINGA-WEEK-4-IP/blob/master/Moringa_Data_Science_Prep_W4_Independent_Project_2019_07_Chelagat_Pauline_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

In [0]:
import numpy as np

In [0]:
#loading our dataset and previewing the first 5 columns
df=pd.read_csv('autolib.csv')
df.head(5)

                              Address  Cars  Bluecar counter  ...  day  hour  minute
0                 2 Avenue de Suffren     0                0  ...    8    11      43
1           145 Rue Raymond Losserand     6                6  ...    6     7      24
2    2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14
3              51 Rue EugÃ¨ne OudinÃ©     3                3  ...    4     4      37
4  6 avenue de la Porte de Champerret     3                3  ...    8    17      23

[5 rows x 25 columns]

In [0]:
#Accessing information about our dataset
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5000 entries, 0 to 4999
Data columns (total 25 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Address              5000 non-null   object
 1   Cars                 5000 non-null   int64
 2   Bluecar counter      5000 non-null   int64
 3   Utilib counter       5000 non-null   int64
 4   Utilib 1.4 counter   5000 non-null   int64
 5   Charge Slots         5000 non-null   int64
 6   Charging Status      5000 non-null   object
 7   City                 5000 non-null   object
 8   Displayed comment    111 non-null    object
 9   ID                   5000 non-null   object
 10  Kind                 5000 non-null   object
 11  Geo point            5000 non-null   object
 12  Postal code          5000 non-null   int64
 13  Public name          5000 non-null   object
 14  Rental status        5000 non-null   object
 15  Scheduled at         47 non-null     object
 16  Slots                5000 non-null   int64
 17  Station type         5000 non-null   object
 18  Status               5000 non-null   object
 19  Subscription status  5000 non-null   object
 20  year                 5000 non-null   int64
 21  month                5000 non-null   int64
 22  day                  5000 non-null   int64
 23  hour                 5000 non-null   int64
 24  minute               5000 non-null   int64
dtypes: int64(12), object(13)
memory usage: 976.7+ KB

In [0]:
#Describing the dataset
df.describe()

              Cars  Bluecar counter  ...         hour       minute
count  5000.000000      5000.000000  ...  5000.000000  5000.000000
mean      2.333600         2.333600  ...    11.509200    29.270000
std       2.035274         2.035274  ...     6.893549    17.231741
min       0.000000         0.000000  ...     0.000000     0.000000
25%       0.000000         0.000000  ...     6.000000    14.000000
50%       2.000000         2.000000  ...    11.000000    29.000000
75%       4.000000         4.000000  ...    18.000000    44.000000
max       7.000000         7.000000  ...    23.000000    59.000000

[8 rows x 12 columns]

In [0]:
#number of non-mising values
df.count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment       111
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at             47
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [0]:
#Number of missing values
num_rows = df.shape[0]
num_missing = num_rows - df.count() 
num_missing

Address                   0
Cars                      0
Bluecar counter           0
Utilib counter            0
Utilib 1.4 counter        0
Charge Slots              0
Charging Status           0
City                      0
Displayed comment      4889
ID                        0
Kind                      0
Geo point                 0
Postal code               0
Public name               0
Rental status             0
Scheduled at           4953
Slots                     0
Station type              0
Status                    0
Subscription status       0
year                      0
month                     0
day                       0
hour                      0
minute                    0
dtype: int64

In [0]:
df.isnull().count()

Address                5000
Cars                   5000
Bluecar counter        5000
Utilib counter         5000
Utilib 1.4 counter     5000
Charge Slots           5000
Charging Status        5000
City                   5000
Displayed comment      5000
ID                     5000
Kind                   5000
Geo point              5000
Postal code            5000
Public name            5000
Rental status          5000
Scheduled at           5000
Slots                  5000
Station type           5000
Status                 5000
Subscription status    5000
year                   5000
month                  5000
day                    5000
hour                   5000
minute                 5000
dtype: int64

In [0]:
#UNIFORMITY
#Changing the column names to lower case
#So that we can easily access the columns
df.columns=df.columns.str.lower()
df.head(3)

                            address  cars  bluecar counter  ...  day  hour  minute
0               2 Avenue de Suffren     0                0  ...    8    11      43
1         145 Rue Raymond Losserand     6                6  ...    6     7      24
2  2 Avenue John Fitzgerald Kennedy     3                3  ...    3    20      14

[3 rows x 25 columns]

In [0]:
#VALIDITY
#dropping columns we dont need
df1=df.drop(['cars','charge slots', 'charging status','displayed comment','id','kind','geo point','scheduled at','station type', 'subscription status', 'year', 'month'], axis=1)
df1

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
2       2 Avenue John Fitzgerald Kennedy                3  ...    20      14
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
...                                  ...              ...  ...   ...     ...
4995                 8 avenue MÃ©nelotte                2  ...    11      26
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4998         2 avenue du Val de Fontenay                2  ...    17      27
4999                 5 Rue Henry Brisson                4  ...    10       2

[5000 rows x 13 columns]

In [0]:
#Selecting Paris
df2=df1.loc[df['city']=='Paris']
df2

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2816 rows x 13 columns]

In [0]:
#selecting only the stations where the rental status is operational
df3=df2.loc[df['rental status']=='operational']
df3

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2629 rows x 13 columns]

In [0]:
#selecting only the statiosn where the rental status is operational
df4=df3.loc[df['status']=='ok']
df4

                                 address  bluecar counter  ...  hour  minute
0                    2 Avenue de Suffren                0  ...    11      43
1              145 Rue Raymond Losserand                6  ...     7      24
3                 51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4     6 avenue de la Porte de Champerret                3  ...    17      23
5                   8 Boulevard Voltaire                0  ...     7       2
...                                  ...              ...  ...   ...     ...
4992                     3 avenue d'Ivry                0  ...    23       1
4994                    15 rue de Rocroy                0  ...    20      49
4996                   37 rue de Dantzig                4  ...    16      56
4997                      142 rue du Bac                1  ...     7       1
4999                 5 Rue Henry Brisson                4  ...    10       2

[2629 rows x 13 columns]

In [0]:
#exporting the cleaned dataset
df4.to_csv('carhire.csv')
df4.head(15)

                               address  bluecar counter  ...  hour  minute
0                  2 Avenue de Suffren                0  ...    11      43
1            145 Rue Raymond Losserand                6  ...     7      24
3               51 Rue EugÃ¨ne OudinÃ©                3  ...     4      37
4   6 avenue de la Porte de Champerret                3  ...    17      23
5                 8 Boulevard Voltaire                0  ...     7       2
8                34 avenue Jean Moulin                1  ...    22      58
9         41 boulevard de Rochechouart                6  ...    15       2
10                      14 rue Censier                0  ...     4      39
12  6 avenue de la Porte de Champerret                5  ...    12      22
13               34 avenue Jean Moulin                0  ...    21      54
14          8 Boulevard Richard Lenoir                0  ...     8       0
17              182 Boulevard Voltaire                6  ...    12      14
18               26 villa Croix-Nivert                5  ...    20      58
19                11 avenue RenÃ© Coty                4  ...    21      31
20                2 Place de Catalogne                3  ...     6      16

[15 rows x 13 columns]

In [0]:
#checking whether the changes have been saved
df4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2629 entries, 0 to 4999
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   address             2629 non-null   object
 1   bluecar counter     2629 non-null   int64
 2   utilib counter      2629 non-null   int64
 3   utilib 1.4 counter  2629 non-null   int64
 4   city                2629 non-null   object
 5   postal code         2629 non-null   int64
 6   public name         2629 non-null   object
 7   rental status       2629 non-null   object
 8   slots               2629 non-null   int64
 9   status              2629 non-null   object
 10  day                 2629 non-null   int64
 11  hour                2629 non-null   int64
 12  minute              2629 non-null   int64
dtypes: int64(8), object(5)
memory usage: 287.5+ KB

In [0]:
#most popular hour of the day for picking up a shared electric car (Bluecar) in the city of Paris over the month of April 2018.
#selecting where there was a bluecar counter
df4a=df4.loc[df['bluecar counter']>0]
df4a
#finding the most popular hour for the bluecar counter
df4b=df4a['hour'].value_counts()
df4b

21    95
12    90
6     81
9     80
13    80
10    80
15    79
8     79
17    78
16    78
19    75
18    75
5     74
7     73
3     73
11    70
22    69
2     69
4     68
0     68
23    67
1     64
20    63
14    59
Name: hour, dtype: int64

In [0]:
#What is the most popular hour for returning cars?

df5=df4['hour'].value_counts()
df5

21    132
8     120
16    120
6     119
9     114
7     113
12    112
3     112
10    111
5     111
2     111
17    111
23    109
13    108
15    108
4     107
18    107
19    105
0     102
20    102
22    100
14     99
1      98
11     98
Name: hour, dtype: int64

In [0]:
#What station is the most popular?
#overall

df6=df4['public name'].value_counts()
df6

Paris/Porte de Montrouge/8         13
Paris/Voltaire/182                 11
Paris/Mathis/35                    11
Paris/Philippe Auguste/126         11
Paris/Courcelles/69                11
                                   ..
Paris/Porte Pouchet/6               1
Paris/PÃ©guy/2                      1
Paris/Faubourg-Saint-Martin/168     1
Paris/Manin/1                       1
Paris/FÃ©dÃ©ration/10               1
Name: public name, Length: 567, dtype: int64

In [0]:
#What station is the most popular?
#At the most popular picking hour?
df6a=df4.loc[df['hour']==21]
df6a

df6b=df6a.groupby(['postal code'])['public name'].value_counts().sort_values(ascending=False)
df6b

postal code  public name
75008        Paris/Tronchet/19              4
75011        Paris/Voltaire/182             3
75019        Paris/Ãmile Reynaud/4         2
75006        Paris/Danton/8                 2
75013        Paris/HÃ´pital/47              2
                                           ..
75015        Paris/SÃ©bastien Mercier/44    1
75016        Paris/Adolphe Yvon/6           1
             Paris/Marceau/59               1
             Paris/Molitor/16               1
75001        Paris/Bertin PoirÃ©e/14        1
Name: public name, Length: 117, dtype: int64

In [0]:
#What postal code is the most popular for picking up Blue cars? 
df8=df4a.groupby(['bluecar counter'])['postal code'].value_counts()
df8

bluecar counter  postal code
1                75015          39
                 75013          36
                 75017          36
                 75019          34
                 75016          30
                                ..
6                75116           3
                 75003           1
                 75005           1
                 75009           1
7                75011           2
Name: postal code, Length: 119, dtype: int64

In [0]:
#Does the most popular station belong to that postal code?
df8a=df4a.groupby(['postal code'])['public name'].value_counts().sort_values(ascending=False)
df8a

postal code  public name
75014        Paris/Porte de Montrouge/8    11
75017        Paris/BrÃ©montier/19          10
             Paris/Darcet/28               10
75016        Paris/Adolphe Yvon/6           9
             Paris/Chernoviz/12             9
                                           ..
75014        Paris/Nicolas Taunay/7         1
75011        Paris/Saint-Maur/36            1
             Paris/Roquette/162             1
             Paris/Richard Lenoir/110       1
75008        Paris/Tronchet/19              1
Name: public name, Length: 546, dtype: int64

In [0]:
#Do the results change if you consider Utilib and Utilib 1.4 instead of Blue cars? 

df9=df4.loc[(df['utilib counter']>0) & (df['utilib 1.4 counter']>0)]
df9

                                address  bluecar counter  ...  hour  minute
153           20 Boulevard de Vaugirard                2  ...    11      57
346        62 rue Jean-Jacques Rousseau                0  ...    14      25
418                       35 rue Mathis                1  ...    10      55
522         51 avenue Raymond PoincarÃ©                3  ...    13      44
1037                  25 rue de Galvani                2  ...     1       5
1527  8 Avenue de la Porte de Montrouge                3  ...    15       0
1654           5 rue FrÃ©dÃ©ric LoliÃ©e                3  ...     9      32
1704                35 rue Vauvenargues                4  ...     7      44
1821              46 Avenue de Villiers                2  ...    13      53
1998            29 avenue de la Sibelle                2  ...    21       0
2108                6 avenue des Ternes                3  ...    19      52
2205                 5 Avenue Mac Mahon                3  ...    23      48
2274               168 bis rue Cardinet                3  ...     8      57
2380                  25 rue de Galvani                3  ...    17      10
2412        181 quater Avenue de Clichy                2  ...    19      13
2703                      35 rue Mathis                1  ...    11      19
2836                  33 rue de Lourmel                2  ...     6      39
3014                   55 rue d'Auteuil                0  ...    17      50
3097                 5 Avenue Mac Mahon                2  ...     0      40
3103                   150 rue Marcadet                0  ...     9      20
3237                   54 rue HÃ©ricart                0  ...     8       4
3307  8 Avenue de la Porte de Montrouge                3  ...    12      30
3353                  1 Boulevard Murat                1  ...    18       4
3461              66 rue Henri Barbusse                0  ...     6      42
3771            10 rue du Docteur Leray                2  ...    22      41
3900                 5 Avenue Mac Mahon                2  ...     9      41
4109       62 rue Jean-Jacques Rousseau                0  ...    14      11
4593                    120 Rue Ordener                1  ...    20       6
4663       11 avenue Georges Lafenestre                3  ...     1      36

[29 rows x 13 columns]

In [0]:
#most popular hour of the day for picking up Utilib and Utilib 1.4 in the city of Paris over the month of April 2018.

#finding the most popular hour for Utilib and Utilib 1.4
df9a=df9.groupby(['utilib 1.4 counter', 'utilib counter'])['hour'].value_counts()
df9a

utilib 1.4 counter  utilib counter  hour
1                   1               1       2
                                    9       2
                                    11      2
                                    13      2
                                    14      2
                                    17      2
                                    19      2
                                    0       1
                                    6       1
                                    7       1
                                    10      1
                                    12      1
                                    15      1
                                    18      1
                                    20      1
                                    21      1
                                    22      1
                                    23      1
                    2               6       1
                                    8       1
2                   1               8       1
                                    9       1
Name: hour, dtype: int64

In [0]:
#What postal code is the most popular for picking up Utilib and Utilib 1.4? 
df9b=df9.groupby(['utilib 1.4 counter', 'utilib counter'])['postal code'].value_counts()
df9b

utilib 1.4 counter  utilib counter  postal code
1                   1               75017          8
                                    75014          5
                                    75016          3
                                    75018          3
                                    75001          2
                                    75019          2
                                    75013          1
                                    75015          1
                    2               75015          2
2                   1               75017          1
                                    75020          1
Name: postal code, dtype: int64

In [0]:
#Does the most popular station belong to that postal code?
df9c=df9.groupby(['postal code'])['public name'].value_counts().sort_values(ascending=False)
df9c


#combined.groupby(['date', 'product'])['product'].count().sort_values(ascending = False)

postal code  public name
75017        Paris/Mac Mahon/5                 3
75001        Paris/Jean-Jacques Rousseau/62    2
75014        Paris/Porte de Montrouge/8        2
75017        Paris/Galvani/25                  2
75019        Paris/Mathis/35                   2
75016        Paris/Auteuil/55                  1
75013        Paris/Leray/10                    1
75014        Paris/Georges Lafenestre/11       1
             Paris/Henri Barbusse/66           1
             Paris/Sibelle/29                  1
75015        Paris/HÃ©ricart/54                1
             Paris/Lourmel/33                  1
             Paris/Vaugirard/20                1
75020        Paris/FrÃ©dÃ©ric LoliÃ©e/5        1
75016        Paris/Murat/1                     1
75017        Paris/Cardinet/Parking            1
             Paris/Clichy/181                  1
             Paris/Ternes/6                    1
             Paris/Villiers/46                 1
75018        Paris/Marcadet/150                1
             Paris/Ordener/120                 1
             Paris/Vauvenargues/35             1
75016        Paris/Raymond PoincarÃ©/51        1
Name: public name, dtype: int64